<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Vorname" [(ngModel)]="vorname" name="vorname"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nachname" [(ngModel)]="nachname" name="nachname"/>
  </mat-form-field>
</div>
<button mat-button (click)="addUser()">Add</button>